<li>
	{{burger_name}}

	<button class="devour-change" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>